<div id="fh5co-product">
    <div class="container">
        <form id="changepass_form" name="changepass_form" class="form-contact">
            <br />
            <hr />
            <div class="form-title"><h2 class="form-contact-heading">Change your password</h2></div>
            <p>Please input your new password.</p>

           <md-input-container flex="">
                <label for="Password">Password</label>
                <input required ng-model="changepass.inputPassword" type="password" id="inputPassword" name="inputPassword" dir="auto" maxlength="100" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/">
                <div ng-message="required" ng-show="changepass_form.inputPassword.$error.required && (changepass_form.inputPassword.$dirty || changepass_form.inputPassword.$touched)">You <b>must</b> give a password.</div>
                <div ng-show="changepass.inputPassword.$error.pattern">Invalid password!</div>     
            </md-input-container>

            <br />

            <md-input-container flex="">
                <label for="Password">Repeat your password</label>
                <input required ng-model="changepass.inputPassword2" type="password" id="inputPassword2" name="inputPassword2" dir="auto" maxlength="100">
                <div ng-message="required" ng-show="changepass_form.inputPassword2.$error.required && (changepass_form.inputPassword2.$dirty || changepass_form.inputPassword2.$touched)">Passwords do not match</div>
            </md-input-container>
            <br />
            <hr />
            <input class="btn btn-primary" type="button" name="submit" id="changeBtn" value="Enviar" 
               ng-show="changepass_form.inputPassword.$valid && changepass_form.inputPassword2.$valid && changepass.inputPassword === changepass.inputPassword2" ng-click="SubmitChangePass()"/>

            <div id="resultMessage"></div>
        </form>
    </div>
</div>