<md-dialog aria-label="Get started with us!">
  <form ng-cloak>
    <md-toolbar style="background: white;">
      <div class="md-toolbar-tools">
        <h2>Get started with us!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div style="width: 100%;" class="col-md-12">
          <form id="login_form" name="login_form">
            <div class="row form-group">
              <div class="col-md-12">
                <md-input-container flex="">
                  <label for="Email">Email</label>
                  <input ng-model="form.email" type="text" id="inputEmail" name="inputEmail"  dir="auto" maxlength="100">
                  <div ng-message="required" ng-show="">You <b>must</b> give a name.</div>
                </md-input-container>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <md-input-container flex="">
                  <label for="password">Password</label>
                  <input ng-model="form.password" type="password" id="inputPass" name="inputPass"  dir="auto" maxlength="100">
                  <div ng-message="required" ng-show="err">{{errorpass}}</div>
                </md-input-container>
              </div>
            </div>
            <br />
          </form>
          <div class="form-group" align="right">
              <button id="google_login" ng-click="google()" class='btn btn-basic'><ng-md-icon icon="google-plus"></ng-md-icon></button>
              <button id="twitter_login" ng-click="twitter()" class='btn btn-basic'><ng-md-icon icon="twitter"></ng-md-icon></button>
              <button id="github_login" ng-click="github()" class='btn btn-basic'><ng-md-icon icon="github-circle"></ng-md-icon></button>
              <!-- <md-button class="md-raised md-primary">Log In</md-button> -->
              <input ng-click="login()" class="btn btn-primary" type="button" name="login" id="login" value="Log In">
          </div>
          <br />
          <p>Forgot your password?<a href="#/login/restore/">&nbsp;click here</a></p>
          <p>Not registered yet?<a href="#/login/signup/">&nbsp;click here</a></p>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>