<div id="fh5co-product">
	<div id="container">
		<md-content style="float: center; background: white;">
			<md-subheader class="md-no-sticky">Your ratings</md-subheader>
		        <md-list-item class="md-2-line" ng-repeat="rating in ratings">
		          <img ng-src="{{rating.img}}?25" class="md-avatar" alt="{{rating.img}}" />
		          <div class="md-list-item-text">
		            <h3> {{ rating.reference }} </h3>
		            <p> You've graded {{ rating.stars }} stars.</p>
		          </div>
		        </md-list-item>
		</md-content>
	</div>
</div>