<div id="fh5co-product">
	<div class="container">
  		<div class="row">
  			<div class="col-md-3"></div>
  			<div class="col-md-6">
				<form id="register_form" name="register_form" class="form-contact">
					<div class="row form-group">
						<div>
							<md-input-container flex="" class="col-md-12">
								<label for="Email">Email</label>
								<input type="email" dir="auto" required ng-model="signup.inputEmail" id="inputEmail" name="inputEmail" maxlength="100"
								ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" 
								ng-change="change_signup()">
								<div ng-message="required" ng-show="signup_form.inputEmail.$error.required && (signup_form.inputEmail.$dirty || signup_form.inputEmail.$touched)">You <b>must</b> give an email.</div>
								<div ng-show="signup_form.inputEmail.$error.email">Invalid email!</div>
								<div ng-show="AlertMessage" ng-model="signup.email_error">{{signup.email_error}}</div>
							</md-input-container>
						</div>
					</div>

					<div class="row form-group">
						<div>
							<md-input-container flex="" class="col-md-12">
								<label for="Email">Password</label>
								<input required ng-model="signup.inputPass" type="password" id="inputPass" name="inputPass" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
								 dir="auto" maxlength="100" ng-change="change_signup()">
								<div ng-message="required" ng-show="signup_form.inputPass.$error.required && (signup_form.inputPass.$dirty || signup_form.inputPass.$touched)">You <b>must</b> give a password.</div>
								<div ng-show="signup_form.inputPass.$error.pattern">Invalid password!</div>
								<div ng-show="AlertMessage" ng-model="signup.pass_error">{{signup.pass_error}}</div>
							</md-input-container>
						</div>
					</div>

					<div class="row form-group">
						<div>
							<md-input-container flex="" class="col-md-12">
								<label for="Email">Password</label>
								<input required ng-model="signup.inputPass2" type="password" id="inputPass2" name="inputPass2" dir="auto" maxlength="100" ng-change="change_signup()">
								<div ng-message="required" ng-show="signup_form.inputPass2.$error.required && (signup_form.inputPass2.$dirty || signup_form.inputPass2.$touched)">You <b>must</b> repeat your password.</div>
								<div data-ng-show="signup.inputPass !== signup.inputPass2">Passwords do not match</div>
							</md-input-container>
						</div>
					</div>

					<div class="row form-group">
						<div>
							<md-datepicker required ng-model="signup.inputBirthdate" ng-change="format(signup.inputBirthdate)" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
						</div>
					</div>
					<input type="hidden" name="token" value="register_form" />
					<br />
					<br />
					<div class="form-group" align="right">
						<input ng-click="SubmitSignUp()" class="btn btn-primary" type="button" name="submit" id="submitBtn" value="Send">
						<a class="btn btn-primary" type="button" href="../../login/get_in/">Cancel</a>
					</div>
					<div id="resultMessage" style="display: none;"></div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>