<script src="<?php echo CONTACT_LIB_PATH; ?>bootstrap-button.js"></script>


<script src="<?php echo CONTACT_JS_PATH; ?>contact.js"></script>

<script src="<?php echo CONTACT_JS_PATH; ?>map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNEYo1ekKIKywJFWSS3OsCejN4AHWbbO4"></script>
<!-- <link href="<?php echo CONTACT_CSS_PATH; ?>bootstrap.min.css" rel="stylesheet"> -->
<link href="<?php echo CONTACT_CSS_PATH; ?>custom.css" rel="stylesheet">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script> -->
<div id="fh5co-contact">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-push-1 animate-box">

      <div class="fh5co-contact-info">
        <h3>Contact Information</h3>
        <hr />
        <ul>
          <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
          <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
          <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
          <li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>
        </ul>
      </div>

    </div>
    <div class="col-md-6 animate-box">
      <h3>Get In Touch</h3>
      <hr />
      <form id="contact_form" name="contact_form" class="form-contact">
        <div class="row form-group">
          <div class="col-md-12">
            <label for="fname">Name</label>
            <input type="text" id="inputName" name="inputName" class="form-control" dir="auto" maxlength="100">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label for="email">Email</label>
            <input type="text" id="inputEmail" name="inputEmail" class="form-control" maxlength="100">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label for="subject">Subject</label>
            <select class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
              <option value="compra">Info relativa a tu compra</option>
              <option value="evento">Celebra un evento con nosotros</option>
              <option value="programacion">Contacta con nuestro dpto de programacion</option>
              <option value="Trabaja">Trabaja con nosotros</option>
              <option value="proyectos">Deseas proponernos proyectos</option>
              <option value="sugerencias">Haznos sugerencias</option>
              <option value="reclamaciones">Atendemos tus reclamaciones</option>
              <option value="club">Club rural_shop</option>
              <option value="sociales">Proyectos sociales</option>
              <option value="festivos">Apertura de festivos</option>
              <option value="novedades">Te avisamos de nuestras novedades</option>
              <option value="diferente">Algo diferente</option>
          </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label for="message">Message</label>
            <textarea class="form-control" cols="30" rows="10" name="inputMessage"></textarea>
          </div>
        </div>
        <input type="hidden" name="token" value="contact_form" />
        <div class="form-group">
          <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" disabled="disabled" value="Send">
          <img src="<?php echo CONTACT_IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>
        </div>
        <div id="resultMessage" style="display: none;"></div>
      </form>
    </div>
  </div>

</div>
</div>

<div id="map" class="animate-box" data-animate-effect="fadeIn"></div>

<div id="fh5co-started">
<div class="container">
  <div class="row animate-box">
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
      <h2>Newsletter</h2>
      <p>Just stay tune for our latest Product. Now you can subscribe</p>
    </div>
  </div>
  <div class="row animate-box">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-inline">
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <button type="submit" class="btn btn-default btn-block">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>