<div id="fh5co-product">
    <div class="container">
    	<div id="results" class="row image fit">
			<div class="col-md-12">
				<center>
                 	<h3  id="title" class="title"><b>{{data.title}}</b></h3>
                    <hr />
                    <img src="{{data.img}}"></img>
                </center>
                <hr />
            </div>
            <div class="col-md-12">
                <md-content class="md-padding" style="background: white;">
                    <md-tabs md-border-bottom="" md-dynamic-height="">
                        <md-tab label="Product details">
                            <div>
                                <md-content style="background: white;">
                                    <br />
                                    <div>
                                        <p>
                                            <h5><em>#{{data.reference}}</em></h5>
                                        </p>
                                        <div class="rating">
                                            <span uib-rating data-readonly="isReadonly" ng-model="rate" max="max" aria-labelledby="default-rating" ng-click="post_rate()"></span><span style="color: gray; font-family: Arial Narrow, sans-serif; font-size: 20px;">{{rate}}(Opinions: {{opinions}})</span>
                                            <br>
                                            <span style="color: gray; font-family: Arial Narrow, sans-serif; font-variant-caps: all-petite-caps;"><em>{{warning}}</em></span>
                                        </div>
                                        <p>
                                            <h4 class="category"><b>Type:</b> {{data.alimentation}}</h4>
                                        </p>
                                        <p>
                                            <h4 class="category">{{data.details}}</h4>
                                        </p>
                                        <div>
                                            <h2 class="category"><span class="glyphicon glyphicon-tags"></span>&nbsp;<b>{{data.price}}€</b></h2>
                                        </div>
                                    </div>
                                </md-content>
                            </div>
                        </md-tab>
                        <md-tab label="Who is delivering?">
                            <div>
                                <md-content style="background: white;">
                                    <br />
                                    <br />
                                    <center>
                                        <div id="mapholder"  ng-show="mapholderV"></div>
                                    </center>
                                    <br />
                                </md-content>
                            </div>
                        </md-tab>
                        <md-tab label="User opinions">
                            <div>
                                <md-content style="background: white;">
                                    <br />
                                    <br />
                                    <div class="col-md-12">
                                        <md-subheader class="md-no-sticky">Most recent comments</md-subheader>
                                        <md-list-item class="md-3-line md-long-text" ng-repeat="item in ratings" ng-click="null">
                                            <img ng-src="{{item.avatar}}?{{$index}}" class="md-avatar" alt="{{item.name}}">
                                            <div class="md-list-item-text" layout="column">
                                                <h3>{{ item.name }} {{ item.surnames }}</h3>
                                                <p style="color: grey;">{{ item.comment }}</p>
                                                <h4>{{ item.issuedat }}</h4>
                                            </div>
                                        </md-list-item>
                                        <br />
                                        <form ng-show="online" id="comment_form" name="comment_form" class="comment_form">
                                            <md-button class="md-fab" aria-label="Comment" style="background: grey; float: right;" ng-show="enableSave(comment)" ng-click="send_comment();">
                                                <md-icon class="glyphicon glyphicon-send"></md-icon>
                                            </md-button>
                                            <md-input-container class="md-block">
                                                <label>Give your opinion:</label>
                                                <textarea required ng-model="comment" md-maxlength="150" rows="5" md-select-on-focus="" ng-pattern="/^(?!\s*$)[-a-zA-Z0-9_:,.' ']{1,150}$/"
                                                ng-trim="false" restrict-field="comment"></textarea>
                                                <div ng-show="comment.$error.pattern">Invalid comment!</div>
                                            </md-input-container>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <div class="col-md-12">
                <br /><br />
                <div class="btn-ground">
                	<a class="btn btn-default" href="#/products"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Our products</a>
                </div>
            </div>
        </div>
	</div>
</div>