<div id="fh5co-product">
    <div class="container">
          <md-autocomplete ng-disabled="isDisabled" 
          md-no-cache="true" 
          md-selected-item="selectedItem" 
          md-search-text-change="searchTextChange(searchText)" 
          md-search-text="searchText" 
          md-selected-item-change="selectedItemChange(searchText)" 
          md-items="item in querySearch(searchText)" 
          md-item-text="item.display" 
          md-min-length="0" 
          placeholder="Search for products..."
          ng-model="filtro">
             <md-item-template>
               <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
             </md-item-template>
             <md-not-found>
               No product found matching "{{searchText}}".
             </md-not-found>
          </md-autocomplete>
          <br />
          <br />
          <br />
          <div id="products" class="row image fit">
               <div class="col-md-4 text-center of" ng-repeat="of in filteredProducts| filter:searchText" id="{{of.reference}}">
                    <div class="product" ng-click="select(of.reference)">
                         <div class="product-grid" style="background-image:url('{{of.img}}');">
                              <div class="inner">
                                   <p>
                                        <a href="#" class="icon buy"><i class="icon-shopping-cart"></i></a>
                                        <a href="#/products/{{of.reference}}" class="icon read"><i class="icon-eye"></i></a>
                                   </p>
                              </div>
                         </div>
                         <div class="desc">
                              <h3><a href="#/products/{{of.reference}}" class="read">{{of.title}}</a></h3>
                              <span class="price">{{of.price}} €</span>
                         </div>
                    </div>
               </div>
          </div>
          <br />
          <center>
               <div id="pager">
                    <uib-pagination class="pagination-sm pagination" total-items="product.length" ng-model="currentPage"
                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>        
                </div>
          </center>
          <br />
          <p> Total Results: {{product.length}} <p>
     </div>
</div>