<script src="frontend/modules/contact/view/lib/bootstrap-button.js"></script>

<div id="fh5co-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <div class="fh5co-contact-info">
          <h3>Contact Information</h3>
          <hr />
          <ul>
            <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
            <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
            <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
            <li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-5">
        <h3>Get In Touch</h3>
        <hr />
        <form id="contact_form" name="contact_form" class="form-contact">
          <div class="row form-group">
            <div class="col-md-12">
              <md-input-container flex="">
              <label for="Name">Name</label>
                <input required ng-model="contact.inputName" type="text" id="inputName" name="inputName"  dir="auto" maxlength="100">
                 <div ng-message="required" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">You <b>must</b> give a name.</div>
              </md-input-container>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <md-input-container flex="">
                <label for="email">Email</label>
                <input required ng-model="contact.inputEmail" type="text" id="inputEmail" name="inputEmail" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                 <div ng-message="required" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">Email is required.</div>
                 <div ng-message="md-require-match" ng-show="contact_form.inputEmail.$error.email">Invalid email.</div>
              </md-input-container>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <md-input-container flex="">
                <label for="subject">Subject</label>
                <input required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" dir="auto" md-input-maxlength="100">
                <div ng-message="required" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)">The subject is required</div>
              </md-input-container>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <md-input-container flex="">
                <label for="message">Message</label>
                <textarea required ng-model="contact.inputMessage" rows="4" id="inputMessage" name="inputMessage"  style="max-width: 100%;" dir="auto"></textarea>
                <div ng-message="required" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">Comment is required</div>
              </md-input-container>
            </div>
          </div>
          <input type="hidden" name="token" value="contact_form" />
        </form>
      </div>
      <div class="col-md-2">
          <br>
          <br>
          <div class="form-group">
            <md-button class="md-raised" type="submit" name="submit" id="submitBtn"
               ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputSubject.$valid && contact_form.inputMessage.$valid"
               ng-click="SubmitContact()">Send</md-button>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-product" style="width: 100%; height: 100%;" >
  <center>
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
      <span>Cool Stuff</span>
      <h2>Our stores.</h2>
    </div>
    <div id="mapholder"  ng-show="mapholderV" style="width: 100%; height: 100%;"></div>
  </center>
</div>
<div id="fh5co-started">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Newsletter</h2>
        <p>Just stay tune for our latest Product. Now you can subscribe</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <button type="button" class="btn btn-default btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
