  <div id="fh5co-hero">
  	<div class="container" style="width: 100%;"> 
	    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <div uib-slide ng-repeat="slide in slides">
	        <img ng-src="{{slide.img}}" style="margin:auto; padding: auto; height: 699px; width: 100%; filter: blur(4px);">
	        <div class="carousel-caption">
		      <div style="padding:1rem; margin: 1rem; text-shadow: 0px 0px; color: black; height: 30%; width: 60%; background-color: #fff; border-radius: 2px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
	            <div class="desc">
	          	  <h3><b>{{slide.title}}</b></h3>
	          	  <hr />
	          	  <span class="price" style="font-size: 25px; color: #d1c286;"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{slide.price}} €</span>
	          	  <br />
	              <p>{{slide.details}}</p>
	              <md-button style="background-color: #efefef" href="#/products/{{slide.reference}}/" class="md-raised">Check it now!</md-button>
	            </div>
	            <br />
	          </div>
	          <br />
	        </div>
	      </div>
	    </div>
	  </div>
  </div>
  <div id="fh5co-product">
    <div class="container">
      <div class="row image fit">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Cool Stuff</span>
          <h2>Products.</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
        <div id="results" class="row image fit">
          <div ng-repeat="of in product | limitTo:limit" class="of col-md-4 text-center">
            <div class="product" ng-click="select(of.reference)">
               <div class="product-grid" style="background-image:url('{{of.img}}');">
                    <div class="inner">
                         <p>
                              <a href="#" class="icon buy"><i class="icon-shopping-cart"></i></a>
                              <a href="#/products/{{of.reference}}" class="icon read"><i class="icon-eye"></i></a>
                         </p>
                    </div>
               </div>
               <div class="desc">
                    <h3><a href="#/products/{{of.reference}}" class="read">{{of.title}}</a></h3>
                    <span class="price">{{of.price}} €</span>
               </div>
            </div>
          </div>
        </div>
        <center>
          <br />
          <md-button class="md-raised" ng-click="loadMore()" ng-disabled="dsblBtn">Load More</md-button>
        </center>
      </div>
  	</div>
  </div>
  
  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row image fit">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Not Enough?</span>
          <h2>Be more specific</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <a href="#/products/where/Om"><button type="submit" class="btn btn-primary btn-block">Omnivore</button></a>
        </div>
        <div class="col-md-2">
          <a href="#/products/where/Vg"><button type="submit" class="btn btn-primary btn-block">Veggie</button></a>
        </div>
        <div class="col-md-2">
          <a href="#/products/where/Vt"><button type="submit" class="btn btn-primary btn-block">Vegetarian</button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <div id="fh5co-started">
    <div class="container">
      <div class="row image fit">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Newsletter</h2>
          <p>Just stay tune for our latest Product. Now you can subscribe</p>
        </div>
      </div>
      <div class="row image fit">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <button type="submit" class="btn btn-default btn-block">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>