<!-- <script src="<?php echo MAIN_JS_PATH ?>jquery.bootpag.min.js"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNEYo1ekKIKywJFWSS3OsCejN4AHWbbO4"></script>

<script src="<?php echo MAIN_JS_PATH ?>list_products.js"></script>
<div id="fh5co-product">
    <div class="container">
    	<form class="form-inline">
	        <input type="text" placeholder="Search Product..." class="form-control mx-sm-4" id="keyword" list="datalist">
	        <input name="Submit" id="Submit" class="btn btn-default" type="button" value="Search" />
	    </form>
		<br />
		<br />
		<br />
		<div id="results" class="row animate-box"></div>
		<center>
		    <div class="pagination"></div>
		</center>
	</div>
</div>