<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNEYo1ekKIKywJFWSS3OsCejN4AHWbbO4"></script>
<script src="<?php echo MAIN_JS_PATH ?>read_products.js"></script>
<div id="fh5co-product">
    <div class="container">
    	<div id="results" class="row animate-box"></div>
	</div>
</div>