<body>     
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div id="fh5co-logo"><a href="#/">Watupper.</a></div>
                </div>
                <div class="col-md-6 col-xs-6 text-center menu-1">
                    <ul>
                        <li>
                            <a href="#/">Home</a>
                        </li>
                        <li>
                            <a href="#/products">Products</a>
                        </li>
                        <li>
                            <a href="">Services</a>
                        </li>
                        <li>
                            <a href="#/contact">Contact</a>
                        </li>
                        <li ng-show="logged">
                            <a href="#/login/my_ratings/">My Ratings</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                    <ul ng-show="access">
                        <li>
                            <a href="" ng-click="global_modal()">Sign In / Sign Up</a>
                        </li>
                    </ul>
                    <ul ng-show="logged">
                        <li><img src='{{avatar}}' height='36' width='36'/></li>
                        <li>
                            <a href='#/login/profile'>{{email}}</a>
                        </li>

                        <li>
                            <a href="" ng-click="logout()" >Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>