<script src="<?php echo LOGIN_JS_PATH; ?>login.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div id="fh5co-product">
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8 animate-box">
      <h3>Log In</h3>
      <hr />
      <br /
      <form id="login_form" name="login_form" class="form-contact">
        <div class="row form-group">
          <div class="col-md-12">
            <label for="fname">Email</label>
            <input type="text" id="inputEmail" name="inputEmail" class="form-control" dir="auto" maxlength="100">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12">
            <label for="subject">Password</label>
            <input type="password" id="inputPass" name="inputPass" class="form-control" dir="auto" maxlength="100">
          </div>
        </div>
        <br />
        <div id="resultMessage" style="display: none;"></div>
        <hr />
        <div class="form-group" align="right">
          <button id="google_login" class='btn btn-danger'><i class="fa fa-google-plus"></i></button>
          <button id="twitter_login" class='btn btn-info'><i class="fa fa-twitter"></i></button>
          <button id="github_login" class='btn btn-basic'><i class="fa fa-github"></i></button>
          <input class="btn btn-primary" type="button" name="login" id="login" value="Log In">
        </div>
      </form>
      <p>Forgot your password?<a href="../../login/restore/">&nbsp;click here</a></p>
      <p>Not registered yet?<a href="../../login/sign_up/">&nbsp;click here</a></p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>