<script src="<?php echo LOGIN_JS_PATH; ?>register.js"></script>
<div id="fh5co-product">
	<div class="container">
  		<div class="row">
  			<div class="col-md-3"></div>
    		<div class="col-md-6 animate-box">
      		  <h3>Get In</h3>
			  <hr />
		      <form id="register_form" name="register_form" class="form-contact">
		        <div class="row form-group">
		          <div class="col-md-12">
		            <label for="inputEmail">Email</label>
		            <input type="text" id="inputEmail" name="inputEmail" class="form-control" maxlength="100">
		          </div>
		        </div>

		        <div class="row form-group">
		          <div class="col-md-12">
		            <label for="inputPassword">Password</label>
		            <input type="password" id="inputPassword" name="inputPassword" class="form-control" maxlength="100">
		          </select>
		          </div>
		        </div>

		        <div class="row form-group">
		          <div class="col-md-12">
		            <label for="inputPassword2">Repeat Password</label>
		            <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" maxlength="100">
		          </select>
		          </div>
		        </div>

		        <div class="row form-group">
		          <div class="col-md-12">
		            <label for="inputBirthdate">Birthdate</label>
		            <input type="text" id="inputBirthdate" name="inputBirthdate" class="form-control" maxlength="100">
		          </select>
		          </div>
		        </div>
		        <input type="hidden" name="token" value="register_form" />
		        <hr />
		        <div class="form-group">
		          <input class="btn btn-primary" type="button" name="submit" id="submitBtn" value="Send">
		          <a class="btn btn-primary" type="button" href="../../login/get_in/">Cancel</a>
		        </div>
		        <div id="resultMessage" style="display: none;"></div>
		      </form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>