<div id="fh5co" class="fh5co-product">
  <div class="container">
     <div class="status alert alert-success" style="display: none"></div>
    <form name="formproduct" id="formproduct">
      <table>
            <tr>
               <td>Reference: </td>
               <td id="error_reference"><input type="text" name="reference" id="reference" required="required" placeholder="Product reference"
                 value=""/>
                 <div></div>
               </td>
            </tr>
            <tr>
               <td>Title: </td>
               <td id="error_title"><input type="text" name="title" id="title" required="required" placeholder="Title"
                value=""/>
                <div></div>
               </td>
            </tr>
            <tr>
        		   <td>Initial date: </td>
        		   <td id="error_inidate"><input type="text" name="inidate" id="inidate" placeholder="Inital date" readonly="readonly"
                 value=""/>
                 <div></div>
               </td>
        		</tr>
        		<tr>
        		   <td>Expiration date: </td>
        		   <td id="error_finidate"><input type="text" name="finidate" id="finidate" placeholder="Expiration date" readonly="readonly"
                 value=""/>
                 <div></div>
               </td>

        		</tr>
            <tr>
                <td>Interval(Days): </td>
                <td>
                    +1 <input name="interval" id="interval" type="radio" class="interval" value="1" checked />
    				        +2 <input name="interval" id="interval" type="radio" class="interval" value="2" />
    				        +3 <input name="interval" id="interval" type="radio" class="interval" value="3" />
                    +4 <input name="interval" id="interval" type="radio" class="interval" value="4" />
                    +5 <input name="interval" id="interval" type="radio" class="interval" value="5" />
                </td>
            </tr>
            <tr>
              <div class="form-group">
                 <td>Allergens: </td>
                 <td id="error_category">
                    Milk <input type="checkbox" class="allergens" name="allergens[]" value="milk" />
                    Eggs <input type="checkbox" class="allergens" name="allergens[]" value="eggs" />
                    Fish <input type="checkbox" class="allergens" name="allergens[]" value="fish" />
                    Crustacean shellfish <input type="checkbox" class="allergens" name="allergens[]" value="crustacean shellfish" />
                    Tree nuts <input type="checkbox" class="allergens" name="allergens[]" value="tree nuts" />
                    Peanuts <input type="checkbox" class="allergens" name="allergens[]" value="peanuts" />
                    Wheat <input type="checkbox" class="allergens" name="allergens[]" value="wheat" />
                    Soybeans <input type="checkbox" class="allergens" name="allergens[]" value="soybeans" />
                  </td>
              </div>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td>Alimentation type: </td>
    			  <td id="error_alimentation">
    			    <select name="alimentation" id="alimentation">
    			     <option>Select alimentation</option>
    				</select>
    				<div></div>
    			</td>
            </tr>
            <tr>
              <td> </td>
            </tr>
            <tr>
                <td>Specific type: </td>
    			  <td id="error_specific">
    			    <select name="specific" id="specific">
    			     <option>Select specific</option>
    				</select>
    				<div></div>
    			</td>
            </tr>
            <tr>
              <td> </td>
            </tr>
            <tr>
                <td>Nutrient to prorize: </td>
    			  <td id="error_nutrients">
    			    <select name="nutrients" id="nutrients">
      			    <option>Select nutrients</option>
    				</select>
    				<div></div>
    			</td>
            <tr>
               <td>Details: </td>
               <td id="error_details"><textarea rows="4" cols="50" name="details" id="details" placeholder="Product details"
                 value=""></textarea>
                 <div></div>
               </td>
            </tr>
            <tr>
               <td>Price: </td>
               <td id="error_price"><input type="text" name="price" id="price" required="required" placeholder="Price"
                value=""/>
                <div ></div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <div class="form-group" id="progress">
                <div id="bar"></div>
                <div id="percent">0%</div >
                </div>

                <div class="msg"></div>
                <br/>
                <div id="dropzone" class="dropzone"></div><br/>
              </td>
            </tr>
        </table>
        <br/>
        <button type="button" class="btn btn-default" name="submit_products" id="submit_products" value="submit">
          Submit product
        </button>
    </form>
    <div align="right" class="btn-ground">
      <a class="btn btn-default" href="../../products/crud/"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Return</a>
    </div>
  <br />
  <br />
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css"> -->
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo PRODUCTS_JS_PATH ?>controller_products.js"></script>